**<h1 style="text-align: center">‚ú® Data Analysis with Disney ‚ú®</h1>**
<p style="text-align: center"> üî± Project by: Ilker Dom, Fatima Khan, Pei Huang, and Tannu Singh üî± </p>
<hr/>

## Data dictionary ##
|ind. | name | description |
|----|----|:----|
|0.| **header** | Column names |
|1.| **show_id** | Unique id |
|2.| **type** | Movie or TV Show |
|3.| **title** | Name of the movie/show |
|4.| **director** | Directors of the movie/show |
|5.| **cast** | Main cast of the movie/show |
|6.| **country** | Country of production |
|7.| **date_added** | Date added on Disney Plus |
|8.| **release_year** | Original Release Year of the movie/tv show |
|9.| **rating** | Rating of the movie/show |
|10.| **duration** | Total duration of the movie/show |
|11.| **listed_in** | Genres in which the movie is listed |  
|12.| **description** | One-Line content description |

## Step 1: Reading the Data File üïµÔ∏è

In [3]:
# This code block is pre-coded for you. You don't have to write anything in this one.

from csv import reader #Package that reads the csv file.

with open('./Data/disney_plus_titles.csv', encoding="utf-8") as opened_file:
    read_file = reader(opened_file)
    data_list = list(read_file) # This stores the data in the list of lists format.

In [113]:
#extracing only the column names
data_header = data_list[0]

#extracting the data excluding the column names 
data = data_list[1:]

## Step 2: Data Exploration üöÄ

In [118]:
'''
The function lets you view data from any point and until the row you specified. 
To use this function, you need to define four parameters: 
1. name of the dataset you want to explore 
2. index of the row you want to start at
3. index of the row you want to end at
4. whether you want to display the total rows and columns of the table (True or False)
By default, we are using our disney dataset, displaying the first three rows as well as the count of rows and columns
'''
def explore_data(data_local = data, start_row_local = 1, end_row_local = 4, rows_and_cols_local = True):
    sliced_data = data_local[start_row_local: end_row_local]
    for d in sliced_data: 
        print(d)
    if rows_and_cols_local == True: #if user wants to show rows and cols
        print("Total rows: ", len(data_local))
        print("Total columns: ", len(data_local[0]))
        
explore_data()

['s2', 'Movie-Comedy', 'Ernest Saves Christmas', 'John Cherry', 'Jim Varney, Noelle Parker, Douglas Seale', '', 'November 26, 2021', '1988', 'PG', '91 min', 'Comedy', 'Santa Claus passes his magic bag to a new St. Nic.']
['s3', 'Movie', 'Ice Age: A Mammoth Christmas', 'Karen Disher', 'Raymond Albert Romano, John Leguizamo, Denis Leary, Queen Latifah', 'United States', 'November 26, 2021', '2011', 'TV-G', '23 min', 'Animation, Comedy, Family', "Sid the Sloth is on Santa's naughty list."]
['s4', 'Movie', 'The Queen Family Singalong', 'Hamish Hamilton', 'Darren Criss, Adam Lambert, Derek Hough, Alexander Jean, Fall Out Boy, Jimmie Allen', '', 'November 26, 2021', '2021', 'TV-PG', '41 min', 'Musical', 'This is real life, not just fantasy!']
Total rows:  1450
Total columns:  12

#### **Display Top 5 Rows**

In [119]:
explore_data(data, 0, 5, True)

['s1', 'Movie - Animation', 'Duck the Halls: A Mickey Mouse Christmas Special', 'Alonso Ramirez Ramos, Dave Wasson', 'Chris Diamantopoulos, Tony Anselmo, Tress MacNeille, Bill Farmer, Russi Taylor, Corey Burton', '', 'November 26, 2021', '2016', 'TV-G', '23 min', 'Animation, Family', 'Join Mickey and the gang as they duck the halls!']
['s2', 'Movie-Comedy', 'Ernest Saves Christmas', 'John Cherry', 'Jim Varney, Noelle Parker, Douglas Seale', '', 'November 26, 2021', '1988', 'PG', '91 min', 'Comedy', 'Santa Claus passes his magic bag to a new St. Nic.']
['s3', 'Movie', 'Ice Age: A Mammoth Christmas', 'Karen Disher', 'Raymond Albert Romano, John Leguizamo, Denis Leary, Queen Latifah', 'United States', 'November 26, 2021', '2011', 'TV-G', '23 min', 'Animation, Comedy, Family', "Sid the Sloth is on Santa's naughty list."]
['s4', 'Movie', 'The Queen Family Singalong', 'Hamish Hamilton', 'Darren Criss, Adam Lambert, Derek Hough, Alexander Jean, Fall Out Boy, Jimmie Allen', '', 'November 26, 2021', '2021', 'TV-PG', '41 min', 'Musical', 'This is real life, not just fantasy!']
['s5', 'TV Show - Docuseries', 'The Beatles: Get Back', '', 'John Lennon, Paul McCartney, George Harrison, Ringo Starr', '', 'November 25, 2021', '2021', '', '1 Season', 'Docuseries, Historical, Music', 'A three-part documentary from Peter Jackson capturing a moment in music history with The Beatles.']
Total rows:  1450
Total columns:  12

#### **Display Last Five Rows**

First we gotta modify the function to display until the last row because in slicing, the end index is exclusive.

In [121]:
'''
Our previous function was not optimized to fetch data from the end of the table.
In order to perform negative indexing, we need to slightly modify our original function 
to redefine the ranges. The following function checks to see if the end index is -1, and it slices 
the data to include all rows from the start index to the end of the row. 
Otherwise, it performs slicing as usual
'''
def explore_data(data_local, start_row_local, end_row_local, show_last_row):
    if show_last_row == True and end_row_local == -1:
        sliced_data = data_local[start_row_local:]
    else:
        sliced_data = data_local[start_row_local: end_row_local]
    for d in sliced_data: 
        print(d)

In [122]:
explore_data(data, -5, -1, True)

['s1446', 'Movie', 'X-Men Origins: Wolverine', 'Gavin Hood', 'Hugh Jackman, Liev Schreiber, Danny Huston, will.i.am , Lynn Collins, Kevin Durand', 'United States, United Kingdom', 'June 4, 2021', '2009', 'PG-13', '108 min', 'Action-Adventure, Family, Science Fiction', 'Wolverine unites with legendary X-Men to fight against forces determined to eliminate mutants.']
['s1447', 'Movie', 'Night at the Museum: Battle of the Smithsonian', 'Shawn Levy', 'Ben Stiller, Amy Adams, Owen Wilson, Hank Azaria, Christopher Guest, Alain Chabat', 'United States, Canada', 'April 2, 2021', '2009', 'PG', '106 min', 'Action-Adventure, Comedy, Family', 'Larry Daley returns to rescue some old friends while the Smithsonian Institution comes alive.']
['s1448', 'Movie', 'Eddie the Eagle', 'Dexter Fletcher', 'Tom Costello, Jo Hartley, Keith Allen, Dickon Tolson, Jack Costello, Taron Egerton', 'United Kingdom, Germany, United States', 'December 18, 2020', '2016', 'PG-13', '107 min', 'Biographical, Comedy, Drama', 'True story of Eddie Edwards, a British ski-jumper whose Olympic performance wins the hearts of fans.']
['s1449', 'Movie - Comedy', 'Bend It Like Beckham', 'Gurinder Chadha', 'Parminder Nagra, Keira Knightley, Jonathan Rhys-Meyers, Anupam Kher, Archie Panjabi, Shaznay Lewis', 'United Kingdom, Germany, United States', 'September 18, 2020', '2003', 'PG-13', '112 min', 'Buddy, Comedy, Coming of Age', 'Despite the wishes of their traditional families, two girls aim for careers in professional soccer.']
['s1450', 'Movie - Action', 'Captain Sparky vs. The Flying Saucers', 'Mark Waring', 'Charlie Tahan', 'United States', 'April 1, 2020', '2012', 'TV-G', '2 min', 'Action-Adventure, Animals & Nature, Animation', "View one of Sparky's favorite home movies."]

## Step 3: Seperating Movies and Shows ‚úÇÔ∏è

In [10]:
'''
In this part we are required to create two lists to seperate the movies and the tv shows. To do that, 
we have first created three empty lists, and an empty title string which we will use for comparing individual elements. 
Then, we iterate over our data list, converting each element into lower case, then checking to which category it belongs to, 
and adding it to the respective list
'''
disney_movies = []
disney_shows = []
disney_other = []
title = ''
for d in data:
    title = d[1].lower()
    if 'movie' in title: 
        title = "Movie"
        disney_movies.append(d)
    elif 'tv' in title: 
        title = "TV Show"
        disney_shows.append(d)
    else: 
        title = "Other"
        disney_other.append(d)

print("Disney Movies: ", len(disney_movies))
print("Disney Shows: ", len(disney_shows))
print("Disney Other: ", len(disney_other))

Disney Movies:  1052
Disney Shows:  398
Disney Other:  0

## Step 4: Get Unique Values

In [155]:
def list_of_elements(my_data_local, col_index_local):
    result_list = []
    for d in my_data_local:
        if d[col_index_local] not in result_list:
            result_list.append(d[col_index_local])
    print(result_list)
list_of_elements(data, 8)

['TV-G', 'PG', 'TV-PG', '', 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y', 'TV-Y7-FV']

## Step 5: No. of Movies and Shows for Each Unique Value in a Column

In [202]:
def elements_count(my_data_local, col_index_local):
    element_count_dict = {}
    for d in my_data_local: 
        if d[col_index_local] not in element_count_dict:
            element_count_dict[d[col_index_local]] = 1 
        else: 
            element_count_dict[d[col_index_local]] += 1
    sorted_elements_count = dict(sorted(element_count_dict.items(), key=lambda item: item[1], reverse=True))
    return sorted_elements_count

# elements_count(disney_shows, 8)
elements_count(disney_movies, 8)

{'G': 253,
 'PG': 235,
 'TV-G': 233,
 'TV-PG': 181,
 'PG-13': 66,
 'TV-14': 37,
 'TV-Y7': 36,
 'TV-Y7-FV': 7,
 'TV-Y': 3,
 '': 1}

sorted(element_count_dict.items(), key=lambda item: item[1], reverse=True):

The sorted() function takes an iterable and returns a new sorted list from that iterable.
element_count_dict.items() provides the iterable (list of key-value pairs) to be sorted.
key=lambda item: item[1] specifies a sorting key. Here, a lambda function lambda item: item[1] is used, where item is each tuple (key, value), and item[1] is the value part of the tuple. This means the sorting will be based on the values of the dictionary.
reverse=True specifies that the sorting should be in descending order.

## Step 6: Fetching Unique Values for '_Listed in_' Column

In [8]:
def list_of_elements(my_data_local):
    result_list = []
    for d in my_data_local:
        if d[10] not in result_list:
            result_list.append(d[10])
    print(result_list)
list_of_elements(data)

['Animation, Family', 'Comedy', 'Animation, Comedy, Family', 'Musical', 'Docuseries, Historical, Music', 'Biographical, Documentary', 'Action-Adventure, Superhero', 'Docuseries, Reality, Survival', 'Animals & Nature, Docuseries, Family', 'Comedy, Family, Musical', 'Documentary', 'Comedy, Family, Music', 'Documentary, Family', 'Action-Adventure, Animals & Nature, Docuseries', 'Animals & Nature', 'Animation', 'Animation, Kids', 'Comedy, Coming of Age, Drama', 'Comedy, Family, Fantasy', 'Animation, Comedy, Drama', 'Animation, Family, Fantasy', 'Action-Adventure, Animation, Comedy', 'Comedy, Family', 'Action-Adventure, Comedy, Family', 'Lifestyle', 'Movies', 'Action-Adventure, Science Fiction', 'Action-Adventure, Fantasy, Superhero', 'Coming of Age, Music', 'Animation, Drama', 'Concert Film, Music', 'Animation, Comedy, Coming of Age', 'Animation, Comedy', 'Animation, Crime, Family', 'Science Fiction', 'Action-Adventure, Fantasy', 'Comedy, Fantasy, Kids', 'Action-Adventure, Comedy, Kids', 'Drama, Family, Fantasy', 'Action-Adventure, Science Fiction, Superhero', 'Drama, Sports', 'Comedy, Family, Sports', 'Action-Adventure, Animation, Kids', 'Animals & Nature, Reality', 'Documentary, Historical', 'Docuseries, Historical', 'Anthology, Comedy, Coming of Age', 'Reality', 'Animals & Nature, Docuseries, Medical', 'Animation, Coming of Age, Fantasy', 'Family, Variety', 'Docuseries', 'Action-Adventure, Science Fiction, Spy/Espionage', 'Animation, Buddy, Coming of Age', 'Action-Adventure, Animation, Science Fiction', 'Action-Adventure, Family, Fantasy', 'Animation, Family, Parody', 'Animation, Fantasy, Kids', 'Family, Game Show / Competition', 'Animals & Nature, Docuseries', 'Kids, Music', 'Animation, Science Fiction', 'Animation, Anthology, Science Fiction', 'Animals & Nature, Docuseries, Reality', 'Coming of Age, Drama, Romance', 'Action-Adventure, Animation, Anime', 'Comedy, Romance, Romantic Comedy', 'Animation, Fantasy, Musical', 'Animals & Nature, Documentary', 'Action-Adventure, Animation, Fantasy', 'Comedy, Coming of Age, Family', 'Action-Adventure, Family, Science Fiction', 'Crime, Drama', 'Comedy, Drama, Romance', 'Family, Music, Variety', 'Comedy, Drama, Thriller', 'Action-Adventure, Family, Parody', 'Animation, Kids, Police/Cop', 'Comedy, Family, Science Fiction', 'Action-Adventure, Animation, Anthology', 'Comedy, Drama', 'Animation, Anthology, Family', 'Animation, Buddy, Comedy', 'Animation, Buddy, Kids', 'Talk Show', 'Animals & Nature, Biographical, Documentary', 'Docuseries, Family', 'Action-Adventure, Buddy, Comedy', 'Animals & Nature, Drama, Family', 'Comedy, Coming of Age', 'Animals & Nature, Coming of Age, Drama', 'Animation, Fantasy', 'Action-Adventure, Docuseries, Reality', 'Animation, Kids, Sports', 'Animation, Comedy, Fantasy', 'Comedy, Sports', 'Action-Adventure, Comedy, Coming of Age', 'Action-Adventure, Reality, Survival', 'Action-Adventure, Family', 'Animation, Kids, Western', 'Action-Adventure, Animation, Family', 'Biographical, Coming of Age, Family', 'Action-Adventure, Comedy, Spy/Espionage', 'Action-Adventure, Fantasy, Science Fiction', 'Action-Adventure, Docuseries, Lifestyle', 'Action-Adventure, Drama, Historical', 'Animation, Dance, Family', 'Drama', 'Coming of Age, Drama', 'Coming of Age, Fantasy', 'Fantasy', 'Animation, Superhero', 'Animals & Nature, Animation, Kids', 'Action-Adventure, Family, Game Show / Competition', 'Biographical, Drama', 'Animation, Comedy, Parody', 'Anthology, Science Fiction', 'Fantasy, Musical', 'Biographical, Documentary, Music', 'Musical, Romance, Western', 'Action-Adventure, Comedy, Crime', 'Comedy, Coming of Age, Kids', 'Comedy, Drama, Sports', 'Animals & Nature, Anthology', 'Action-Adventure, Coming of Age, Family', 'Action-Adventure, Animals & Nature, Drama', 'Family, Kids', 'Action-Adventure, Animation', 'Comedy, Coming of Age, Crime', 'Biographical, Coming of Age, Drama', 'Action-Adventure, Biographical, Drama', 'Animation, Kids, Musical', 'Action-Adventure, Fantasy, Survival', 'Series', 'Animals & Nature, Comedy', 'Comedy, Reality', 'Action-Adventure, Buddy, Science Fiction', 'Animation, Kids, Medical', 'Anthology, Docuseries', 'Comedy, Family, Kids', 'Buddy, Comedy, Docuseries', 'Game Show / Competition, Sports, Variety', 'Comedy, Docuseries, Family', 'Comedy, Fantasy', 'Animation, Comedy, Kids', 'Family, Fantasy, Mystery', 'Variety', 'Comedy, Family, Variety', 'Anthology, Documentary', 'Family, Fantasy, Musical', 'Drama, Fantasy, Mystery', 'Family, Game Show / Competition, Reality', 'Action-Adventure, Docuseries, Fantasy', 'Action-Adventure, Docuseries, Family', 'Action-Adventure, Fantasy, Musical', 'Fantasy, Variety', 'Drama, Music, Romance', 'Biographical, Drama, Sports', 'Action-Adventure, Coming of Age, Drama', 'Action-Adventure, Fantasy, Soap Opera / Melodrama', 'Animals & Nature, Kids, Music', 'Documentary, Music', 'Coming of Age, Drama, Music', 'Action-Adventure, Animation, Buddy', 'Comedy, Variety', 'Docuseries, Reality', 'Biographical, Drama, Music', 'Animals & Nature, Documentary, Survival', 'Drama, Historical', 'Animals & Nature, Documentary, Family', 'Drama, Music', 'Biographical, Drama, Family', 'Anthology, Docuseries, Family', 'Drama, Romance', 'Docuseries, Historical, Reality', 'Documentary, Sports', 'Comedy, Drama, Family', 'Comedy, Parody, Science Fiction', 'Animals & Nature, Kids, Variety', 'Animation, Kids, Music', 'Coming of Age, Fantasy, Musical', 'Action-Adventure, Comedy, Science Fiction', 'Animals & Nature, Docuseries, Kids', 'Docuseries, Kids', 'Animals & Nature, Family, Reality', 'Dance, Music, Musical', 'Comedy, Family, Lifestyle', 'Buddy, Docuseries', 'Documentary, Family, Historical', 'Coming of Age, Drama, Family', 'Historical, Musical', 'Action-Adventure, Crime, Science Fiction', 'Biographical, Historical, Musical', 'Comedy, Coming of Age, Music', 'Animation, Documentary, Family', 'Action-Adventure, Animation, Coming of Age', 'Comedy, Kids', 'Action-Adventure, Crime, Fantasy', 'Comedy, Coming of Age, Medical', 'Drama, Family, Historical', 'Animals & Nature, Comedy, Family', 'Coming of Age, Fantasy, Mystery', 'Crime, Drama, Mystery', 'Animation, Comedy, Crime', 'Comedy, Musical, Romance', 'Action-Adventure, Docuseries, Historical', 'Action-Adventure, Animals & Nature, Family', 'Animation, Family, Sports', 'Action-Adventure, Mystery, Thriller', 'Docuseries, Family, Game Show / Competition', 'Concert Film, Music, Musical', 'Animals & Nature, Family', 'Comedy, Coming of Age, Romance', 'Animation, Family, Historical', 'Coming of Age, Drama, Musical', 'Action-Adventure, Disaster, Drama', 'Action-Adventure, Animation, Musical', 'Docuseries, Family, Lifestyle', 'Comedy, Fantasy, Romance', 'Comedy, Coming of Age, Fantasy', 'Buddy, Comedy, Drama', 'Animation, Family, Romance', 'Coming of Age, Drama, Science Fiction', 'Biographical, Comedy, Family', 'Animals & Nature, Family, Sports', 'Action-Adventure, Animation, Superhero', 'Docuseries, Science Fiction', 'Coming of Age, Documentary, Drama', 'Action-Adventure, Comedy, Fantasy', 'Action-Adventure, Documentary, Historical', 'Buddy, Docuseries, Lifestyle', 'Concert Film, Family, Fantasy', 'Animation, Comedy, Dance', 'Action-Adventure, Animals & Nature, Documentary', 'Coming of Age, Drama, Sports', 'Drama, Family', 'Drama, Family, Musical', 'Animation, Drama, Family', 'Animation, Drama, Kids', 'Animation, Anthology, Fantasy', 'Buddy, Comedy, Coming of Age', 'Animation, Family, Kids', 'Animation, Coming of Age, Family', 'Buddy, Coming of Age, Drama', 'Coming of Age, Docuseries, Family', 'Coming of Age, Music, Musical', 'Comedy, Coming of Age, Science Fiction', 'Drama, Family, Mystery', 'Animation, Comedy, Disaster', 'Sports', 'Comedy, Family, Game Show / Competition', 'Comedy, Mystery', 'Family, Fantasy, Romance', 'Action-Adventure, Family, Historical', 'Documentary, Family, Reality', 'Buddy, Comedy, Family', 'Anthology, Family, Lifestyle', 'Animation, Anthology, Comedy', 'Animation, Kids, Parody', 'Fantasy, Musical, Thriller', 'Family, Lifestyle, Reality', 'Documentary, Family, Variety', 'Biographical, Sports', 'Docuseries, Family, Medical', 'Comedy, Coming of Age, Sports', 'Action-Adventure, Crime, Family', 'Music, Reality', 'Drama, Parody, Science Fiction', 'Action-Adventure, Documentary, Sports', 'Drama, Mystery', 'Coming of Age, Sports', 'Coming of Age, Dance, Drama', 'Animation, Family, Music', 'Animals & Nature, Docuseries, Survival', 'Concert Film, Documentary, Music', 'Comedy, Family, Romantic Comedy', 'Coming of Age, Musical, Romance', 'Coming of Age, Musical', 'Coming of Age, Family, Musical', 'Animals & Nature, Comedy, Coming of Age', 'Biographical, Family, Sports', 'Comedy, Science Fiction', 'Animals & Nature, Documentary, Medical', 'Coming of Age, Dance, Sports', 'Action-Adventure, Coming of Age', 'Animation, Family, Musical', 'Action-Adventure, Documentary, Superhero', 'Buddy, Comedy', 'Drama, Historical, Sports', 'Action-Adventure, Documentary', 'Anthology, Comedy, Kids', 'Drama, Fantasy', 'Action-Adventure, Animals & Nature, Comedy', 'Kids', 'Animals & Nature, Animation, Family', 'Anthology, Comedy, Family', 'Animals & Nature, Coming of Age, Family', 'Family, Fantasy', 'Buddy, Family, Sports', 'Biographical, Drama, Historical', 'Animals & Nature, Biographical, Drama', 'Comedy, Crime, Family', 'Animation, Buddy, Family', 'Fantasy, Kids, Mystery', 'Action-Adventure, Family, Survival', 'Action-Adventure, Western', 'Buddy, Coming of Age, Family', 'Comedy, Family, Western', 'Action-Adventure, Science Fiction, Thriller', 'Animation, Anthology, Kids', 'Action-Adventure, Family, Western', 'Crime, Drama, Family', 'Comedy, Crime, Science Fiction', 'Comedy, Music', 'Action-Adventure, Comedy', 'Animation, Drama, Fantasy', 'Comedy, Family, Romance', 'Action-Adventure, Drama, Family', 'Biographical, Family, Historical', 'Buddy, Comedy, Romance', 'Action-Adventure, Family, Mystery', 'Coming of Age, Drama, Fantasy', 'Comedy, Crime, Fantasy', 'Action-Adventure, Coming of Age, Fantasy', 'Animals & Nature, Docuseries, Travel', 'Coming of Age, Musical, Science Fiction', 'Animation, Family, Mystery', 'Biographical, Comedy, Drama', 'Action-Adventure, Animals & Nature, Animation']

## Step 7: Get Unique Dictionary of Category and Count üëØ

In [124]:
'''
In step 6, we saw that multiple genres were being listed in the same row, hence being considered as "unique values", 
despite them being duplicates. 
We want to count how many movies belong to each "unique" category. 
In this function, we take three parameters: our dataset, the column index, and the seperator. 
By default, the column index is set to 10, because our categories are in the 10th column, and since the values
are seperated by commas, the sep_local is set to ','
The function iterates over each row in the "listed_in" column, and splitting the list of categories into subcategories.
Then, for each element within the sublist, we use the strip() function to remove any whitespaces, then add them into our 
newly-created dictionary if it is not already there. 
Finally, we sort the list in descending order. 
'''
def elements_count(my_data_local, col_index_local = 10, sep_local = ','): #sep_local is the seperator
    element_count_dict = {} #empty dictionary that'll hold the genres and counts. 
    for d in my_data_local: 
       values = d[col_index_local].split(sep_local) #split each list into sublist so only one genre in one element
       for value in values: 
           value = value.strip() #remove whitespaces from each elemenet
           if value not in element_count_dict:
               element_count_dict[value] = 1
           else: 
               element_count_dict[value] += 1
    sorted_elements_count = dict(sorted(element_count_dict.items(), key=lambda item: item[1], reverse=True))
    return sorted_elements_count

In [125]:
elements_count(disney_shows)

{'Animation': 161,
 'Action-Adventure': 138,
 'Docuseries': 122,
 'Comedy': 119,
 'Kids': 102,
 'Family': 99,
 'Animals & Nature': 78,
 'Coming of Age': 52,
 'Fantasy': 34,
 'Reality': 22,
 'Anthology': 21,
 'Buddy': 16,
 'Historical': 15,
 'Science Fiction': 15,
 'Drama': 13,
 'Music': 10,
 'Game Show / Competition': 10,
 'Survival': 6,
 'Sports': 5,
 'Lifestyle': 5,
 'Variety': 5,
 'Medical': 4,
 'Anime': 4,
 'Musical': 4,
 'Mystery': 4,
 'Superhero': 3,
 'Series': 3,
 'Western': 2,
 'Soap Opera / Melodrama': 2,
 'Parody': 2,
 'Police/Cop': 1,
 'Talk Show': 1,
 'Romance': 1,
 'Spy/Espionage': 1,
 'Travel': 1}

In [29]:
elements_count(disney_movies)

{'Family': 533,
 'Comedy': 407,
 'Animation': 381,
 'Action-Adventure': 314,
 'Documentary': 174,
 'Fantasy': 158,
 'Coming of Age': 153,
 'Animals & Nature': 130,
 'Drama': 121,
 'Science Fiction': 76,
 'Biographical': 41,
 'Musical': 40,
 'Kids': 39,
 'Music': 38,
 'Sports': 38,
 'Historical': 38,
 'Buddy': 24,
 'Romance': 19,
 'Superhero': 16,
 'Crime': 16,
 'Mystery': 8,
 'Concert Film': 7,
 'Variety': 7,
 'Parody': 7,
 'Anthology': 7,
 'Dance': 6,
 'Thriller': 5,
 'Western': 5,
 'Reality': 4,
 'Lifestyle': 3,
 'Movies': 3,
 'Survival': 3,
 'Spy/Espionage': 2,
 'Romantic Comedy': 2,
 'Medical': 2,
 'Disaster': 2}

Fill the blanks below manually based on the output in the above two cells.

The maximum movies are listed in <u>'Family'</u> followed by 'Comedy'.

The maximum Shows are listed in <u>'Animation'</u> followed by 'Action-Adventure'.

## Step 8: Average Durations of Movies and Shows ‚åõ

#### Function to extract only the numeric values from the 'duration' column

In [128]:
''' 
In the duration column, data is represented like this: "24 minutes", "3 seasons", etc. 
In order to find the average durations of movies and tv shows, we first need to write a function that will extract 
only the numeric values from the column. 
To do this, we created a new empty list to store our converted data (converted_durations[])
Then, for each row, we split the list based on the spaces, then take the first element (at index 0) of the split list,
which extracts for us only the numbers in every row. 
Finally, we can convert these numbers to integers and append them to the new list.
'''
def duration_converstion(my_data_local, col_index_local = -3):
    converted_durations = []
    for d in my_data_local:
      #split by spaces, then take the first element of the stripped list, then convert to int
      #cuz we'll need to get average later
        converted_durations.append(int(d[col_index_local].split(' ')[0]))
    return converted_durations

In [130]:

''' Storing the durations of movies and shows in two seperate lists'''
converted_movies = duration_converstion(disney_movies)
converted_shows = duration_converstion(disney_shows)

print(converted_movies)

#### Function to find average duration

In [109]:
''' 
Finding the average now becomes simple. All we have to do is divide the sum of the list with the length of 
the list. For easy readability, we have also rounded our answer to 3 digits. 
'''
def get_average(durations):
    return round(sum(durations)/len(durations),3)
print(f'Average Duration of Movies: {get_average(converted_movies)} minutes')
print(f'Average No. of Seasons in TV Shows: ~{get_average(converted_shows)} seasons')

Average Duration of Movies: 71.911 minutes
Average No. of Seasons in TV Shows: ~2.118 seasons

## Step 9 Attempt

In [ ]:
def filter_data(row_local, filter_local = {5: 'Germany'}):
    for index, value in filter_local.items(): 
        if ',' in row_local[index]:
    # nope üíÄ
    ''' 
    This function will take one row of the data at a time and also the filter criteria in 
    the form of a dictionary where key is the column location and the value is the filter value expected.
    '''
    include_row_ll = True # By default, the row qualifies for the filtering criteria
    # Write a for loop that will loop over all the key value pairs of the filters and check the values in the row.
    for f in filter_local:
        print(f)
    # Inside for loop, write a if-else that will check if there are "," in that field. If yes, then create a list out of it splitting it and then checking each value for the filter values. Else, directly check it for the filter values.